<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Events</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" href="libs/bootstrap/bootstrap-grid-3.3.1.min.css" />
	<link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="libs/countdown/jquery.countdown.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/events.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>
    <div class="top_header">
        <div class="header_topline">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="logo">
                                <a href="#"><img src="images/rubic1.png"  alt="logo" height="40" /></a> 
                                   
                            </div>
                            <button class = "login_button hidden-md hidden-lg hidden-sm"><a href="#" ><i class="fa fa-user" aria-hidden="true"></i></a></button>
                            <div class="log_join">
                                
                                <a href="index1Copy" >Login</a> / 
                                <a href="#" >Join</a>
                            </div>
                            <div class="top_links" >
                                <a href="#">Championship</a> / 
                                <a href="#">Events</a> / 
                                <a href="#">Games</a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     
    <header class="section-header">
                 <h2 class="title">EVENTS</h2>
            
    </header>
 


<div class=" jcarousel-skin-tango">
   <div class="jcarousel-container jcarousel-container-horizontal" style="display: block;">
      <div class="jcarousel-clip jcarousel-clip-horizontal">
         <ul id="mycarousel" class="top8 jcarousel jcarousel-list jcarousel-list-horizontal" style="width: 2988px; left: 0px;">
            <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1">
               <a href="https://s-media-cache-ak0.pinimg.com/736x/ef/34/06/ef3406b3b3f84e7c02c8be131d6e04f4.jpg" class="item">
                  <div id="l1" style="display: none;"><img src="https://s-media-cache-ak0.pinimg.com/736x/ef/34/06/ef3406b3b3f84e7c02c8be131d6e04f4.jpg" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l1').hide(); $(this).show();" style="" src="https://s-media-cache-ak0.pinimg.com/736x/ef/34/06/ef3406b3b3f84e7c02c8be131d6e04f4.jpg" alt="Everybody sleeps but mafia members wake up">
                  <span class="name_razdel">
                  Mafia                                                    </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">07<span>April</span></div>
                     <div class="tema">Everybody sleeps but mafia members wake up</div>
                  </div>
               </a>
               <a href="https://s-media-cache-ak0.pinimg.com/564x/50/2a/f3/502af3aac7870124f316e5826329ddbf.jpg" class="item">
                  <div id="l2" style="display: none;"><img src="https://s-media-cache-ak0.pinimg.com/564x/50/2a/f3/502af3aac7870124f316e5826329ddbf.jpg" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l2').hide(); $(this).show();" style="" src="https://s-media-cache-ak0.pinimg.com/564x/50/2a/f3/502af3aac7870124f316e5826329ddbf.jpg" alt="A masculine life - myLusciousLife">
                  <span class="name_razdel">
                  Chess                                                   </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">12<span>April</span></div>
                     <div class="tema">Game of kings</div>
                  </div>
               </a>
               <a href="http://econet.ru/media/1005/kindeditor/image/201401/20140120174925.jpg" class="item">
                  <div id="l3" style="display: none;"><img src="http://econet.ru/media/1005/kindeditor/image/201401/20140120174925.jpg" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l3').hide(); $(this).show();" style="" src="http://econet.ru/media/1005/kindeditor/image/201401/20140120174925.jpg" alt="One of the most popular board games of the Western world">
                  <span class="name_razdel">
                  Skrabble                                                   </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">29<span>April</span></div>
                     <div class="tema">One of the most popular board games of the Western world</div>
                  </div>
               </a>
               <a href="https://s-media-cache-ak0.pinimg.com/564x/9c/0a/01/9c0a017e2503c80214a589029b761402.jpg" class="item">
                  <div id="l4" style="display: none;"><img src="https://s-media-cache-ak0.pinimg.com/564x/9c/0a/01/9c0a017e2503c80214a589029b761402.jpg" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l4').hide(); $(this).show();" style="" src="https://s-media-cache-ak0.pinimg.com/564x/9c/0a/01/9c0a017e2503c80214a589029b761402.jpg" alt="Come with your kids: fun for everybody">
                  <span class="name_razdel">
                  Tic Tac Toe                                                  </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">2<span>May</span></div>
                     <div class="tema"> Come with your kids: fun for everybody </div>
                  </div>
               </a>
               <a href="http://yeseniavargas.com/wp-content/uploads/2012/07/monopoly-1024x768.jpeg" class="item">
                  <div id="l5" style="display: none;"><img src="http://yeseniavargas.com/wp-content/uploads/2012/07/monopoly-1024x768.jpeg" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l5').hide(); $(this).show();" style="" src="http://yeseniavargas.com/wp-content/uploads/2012/07/monopoly-1024x768.jpeg" alt="If America were a game of Monopoly">
                  <span class="name_razdel">
                  Monopoly                                                    </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">4<span>May</span></div>
                     <div class="tema">If America were a game of Monopoly</div>
                  </div>
               </a>
               <a href="https://s-media-cache-ak0.pinimg.com/564x/5c/c7/ab/5cc7ab04b5e3ffcee30fdad9b7176b71.jpg" class="item">
                  <div id="l6" style="display: none;"><img src="https://s-media-cache-ak0.pinimg.com/564x/5c/c7/ab/5cc7ab04b5e3ffcee30fdad9b7176b71.jpg" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l6').hide(); $(this).show();" style="" src="https://s-media-cache-ak0.pinimg.com/564x/5c/c7/ab/5cc7ab04b5e3ffcee30fdad9b7176b71.jpg" alt="Loving and Linking">
                  <span class="name_razdel">
                  Dominos                                                  </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">15<span>May</span></div>
                     <div class="tema">Loving and Linking </div>
                  </div>
               </a>
               <a href="https://s-media-cache-ak0.pinimg.com/564x/50/f4/f7/50f4f72017bc7f98f57c553ea136ca28.jpg" class="item">
                  <div id="l7" style="display: none;"><img src="https://s-media-cache-ak0.pinimg.com/564x/50/f4/f7/50f4f72017bc7f98f57c553ea136ca28.jpg" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l7').hide(); $(this).show();" style="" src="https://s-media-cache-ak0.pinimg.com/564x/50/f4/f7/50f4f72017bc7f98f57c553ea136ca28.jpg" alt="When your body is the canvas">
                  <span class="name_razdel">
                  Pictionary                                                  </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">20<span>May</span></div>
                     <div class="tema">When your body is the canvas</div>
                  </div>
               </a>
               <a href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT6WtRt6KwBONYV2-5RkfqvQcBo1LHHq5oziBSkpSO3iQqqn8UW" class="item">
                  <div id="l8" style="display: none;"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT6WtRt6KwBONYV2-5RkfqvQcBo1LHHq5oziBSkpSO3iQqqn8UW" width="64" height="64" class="loader"></div>
                  <img width="245" height="245" onload="$('#l8').hide(); $(this).show();" style="" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT6WtRt6KwBONYV2-5RkfqvQcBo1LHHq5oziBSkpSO3iQqqn8UW" alt="This is simply a wonderful visual feast.">
                  <span class="name_razdel">
                  Utopia                                                    </span>
                  <div class="name" style="top: 201px;">
                     <div class="num">24<span>May</span></div>
                     <div class="tema">This is simply a wonderful visual feast.</div>
                  </div>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>
						
                          



	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
	<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
	<script src="libs/waypoints/waypoints-1.6.2.min.js"></script>
	<script src="libs/scrollto/jquery.scrollTo.min.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>
	<script src="libs/countdown/jquery.plugin.js"></script>
	<script src="libs/countdown/jquery.countdown.min.js"></script>
	<script src="libs/countdown/jquery.countdown-ru.js"></script>
	<script src="libs/landing-nav/navigation.js"></script>
	<script src="js/common.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>