<div ng-controller="editProfileCtrl" class="col-sm-10" id="editProfile">
    <h1 id="headerUsers" ng-show="myProfile" translate="EDIT_PROFILE"> Edit Profile </h1>
    <h1 id="headerUsers" ng-hide="myProfile" translate="USER_PROFILE"> User Profile </h1>
    <form name="editProfile">

		<div class="col-sm-12">

				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
					<div class="col-md-3">
							<img src="#" ng-src="{{avatar}}" id="userAvatar" ng-hide="myProfile"/>
							<img src="#" ng-src="{{avatar}}" id="avatar" ng-click="myAvatarUpload = !myAvatarUpload"
								ng-show="myProfile"/>
								<br>
								<div ng-show ="myAvatarUpload">
								<label id="uploadButton" ng-show="myProfile">
								<input type="file" file-model="myFile" name="fileUpload"
									class="fileUpload" accept="image/*" onchange="loadFile(event)">

								</label>
								<button ng-click = "uploadAvatar()" id="uploadButton" ng-show="myProfile"
									class="btn btn-primary btn-bg" translate="UPLOAD_AVATAR">upload avatar</button>
								</div>
						</div>
						<span class="col-sm-3" ng-hide="editProfileMessage" translate="{{editAvatarAnswer}}">
									
						</span> 
						
				</div>
						
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="FIRST_NAME">First Name:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.firstName}}</p>
							<input ng-model="editableFirstName" class="form-control input-sm" ng-show="myProfile" 
								name="editUser" maxlength="100">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="LAST_NAME">Last Name:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.lastName}}</p>
							<input ng-model="editableLastName" class="form-control input-sm" ng-show="myProfile" maxlength="100">
						</div>
					</div>
				</div>
				
				<div class="row" ng-hide="myProfile">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="USERNAME">Username:</label>
						<div class="col-md-5">
							<p >{{userProfile.username}}</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="EMAIL">Email:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.email}}</p>
								<input name="input" type="email" ng-model="editableEmail" class="form-control input-sm" 
								ng-show="myProfile" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required maxlength="150">
								<span class="error" ng-show="editProfile.email.$error.email">
        							Not a valid email!
      							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="COUNTRY">Country:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.country.name}}</p>
							<select id="repeatSelectCountry" ng-change="getCitiesByCountry()"
								ng-model="editableCountry" ng-show="myProfile" class="form-control" 
								ng-options= "c.name for c in countries"  >
								<option value="">No country</option>
                        	</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="CITY">City:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.city.name}}</p>
							<select id="repeatSelectCity" ng-show="myProfile" data-ng-init="getCitiesByCountry()"
								ng-model="editableCity" class="form-control" ng-options= "c.name for c in cities">
								<option value="">No city</option>
                        	</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="GENDER">Gender:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.gender}}</p>
							<select id="gender" name="gender" ng-model="editableGender" class="form-control" 
								ng-show="myProfile">
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select> 
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="AGE">Age:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.age}}</p>
							<input ng-model="editableAge" class="form-control input-sm" ng-show="myProfile">
						</div>
					</div>
				</div>
				
				<div ng-show="myProfile">
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable" translate="PHONE_NUMBER">Phone Number:</label>
						<div class="col-md-5">
							<input ng-model="editablePhoneNumber" class="form-control input-sm">
						</div>
					</div>
				</div>
				
				
				<span class="col-sm-3"></span>
				<div class="col-sm-4">
					<button ng-click="saveUser()" id="saveUserUpdate" class="btn btn-primary btn-bg" 
						translate="SAVE_BUTTON" ng-disabled="!editProfile.$dirty">
						Save</button>
				</div>
				<span class="col-sm-5" ng-hide="editProfileMessage" translate="{{editProfileAnswer}}">
				</span> 
				</div>
				</form>
				</div>
				<form name="passwordChange">
				<div class="col-sm-12" ng-show="myProfile" id="passwordChange">
				<p class="form-group col-md-12"><a href="" ng-click="showPassword()" 
					translate="CHANGE_PASSWORD">Change password</a></p>
				<div ng-show="showPasswordChange">
					<div class="row">
						<div class="form-group col-md-12" >
							<label class="col-md-3 control-lable" translate="OLD_PASSWORD" maxlength="20">Old password:</label>
							<div class="col-md-5">
								<input type="password" ng-model="editableOldPassword" 
									class="form-control input-sm" id="passwordDiv" required="required">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" >
							<label class="col-md-3 control-lable" translate="NEW_PASSWORD" maxlength="20">New password:</label>
							<div class="col-md-5">
								<input type="password" ng-model="editableNewPassword" 
									class="form-control input-sm" id="passwordDiv" required="required">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" >
							<label class="col-md-3 control-lable" translate="CONFIRM_PASSWORD" maxlength="20">Confirm password:</label>
							<div class="col-md-5">
								<input type="password" ng-model="editableConfirmPassword" 
									class="form-control input-sm" id="passwordDiv" required="required">
							</div>
						</div>
					</div>
					<span class="col-sm-3"></span>
						<div class="col-sm-4">
						<button ng-click="saveNewUserPassword()" id="saveUserUpdate" 
							class="btn btn-primary btn-bg" translate="SAVE_PASSWORD_BUTTON" 
							ng-disabled="!passwordChange.$dirty">Save password
						</button>
						</div>
					<span class="col-sm-3" ng-hide="editProfileMessage" translate="{{editPasswordAnswer}}">
					</span>
						
						</div>
					
				</div>
				</form>
