<div ng-controller = "allUsersGameCtrl" class ="container-fluid">
	
	<div class = "title">
		<a id = "EditButton" href = "#gameEdit/{{games.id}}" ng-show="isYourGame">
			<button class="btn btn-default navbar-btn" >
				<span class = "glyphicon glyphicon-edit"></span>
			</button>
		</a>
		<h1 id = "titleHeader" >{{games.name}}</h1> 
	</div>
	
	<div class = "mainContent">
		<p>Year of production: {{games.yearOfProduction}}</p>
		<p>Edition: {{games.edition}}</p>
		<p>Description: {{games.description}}</p>
		<p>Max players: {{games.maxPlayers}}</p>
		<p>Min players: {{games.minPlayers}}</p>
		<p>Availability: {{games.status}}</p>
	</div>
	
	<div class="container-fluid" ng-show="isYourGame">
		<p>Select limit date for your exchange</p>
		<input type="date" class="form-control" name="returnDate" 
			max="2020-12-31" min="2000-12-31" ng-model="returnDate"/>
		<br/>
		<br/>
		<button class="btn btn-primary" ng-click="makeGameUserAvailable(games.id)">Open for sharing</button>
	</div>
	
	<div class="container-fluid" ng-show="isYourGamePrivate">
		<button class="btn btn-primary" ng-click="keepGameUserPrivate(games.id)">Keep it for me</button>
	</div>
	
	<div class="container-fluid" ng-show="isntYourGame">
		<button class="btn btn-primary" ng-click="displayRequestBlockClick(games.id)">Let's make a deal!</button>
		<br/>
		
		<div class="form-group" ng-show="doWantToApply">
			<br/>
			<p>Days: {{howManyDays}}</p>
	  		
	  		<label for="comment">Message for owner:</label>
	  		<textarea class="form-control" rows="2" id="message" ng-model="messageToOwner"></textarea>
	  		
	  		<p>Select what you want to propose</p>
	  		<select class="form-control" id="userGamesSelect" ng-model="myGameSelect"> 
        		<option ng-repeat="x in myGames">{{x.name}}, {{x.edition}}</option>
      		</select>
 			<button class="btn btn-primary" ng-click="addToProposes()">Add proposition</button>  
   	  		
   	  		
   	  		<ul class="list-group">
    			<li class="list-group-item" ng-repeat="game in gamesToPropose">{{game}}</li>
  			</ul>
			
			<button class="btn btn-primary" ng-click="askOwnerToShare(games.id, messageToOwner)">Ask owner</button>
		</div>
	</div>
	
	<div class="container-fluid" ng-show="isThereConfiramtion">
		<p class="text-important">{{applierUsername}} asks you to share this game</p>
		<pre class="text text-important">{{messageFromApplier}}</pre>
		<button class="btn btn-primary" ng-click="acceptGameConfirmation(games.id)">Accept</button>
		<button class="btn btn-primary" ng-click="declineGameConfirmation(games.id)">Decline</button>
	</div>
	
	<div class="container-fluid" ng-show="canGiveBack">
		<p>Days remains: {{howManyDaysRemains}}</p>
		<button class="btn btn-primary" ng-click="giveBackGame(games.id)">Give back to owner</button>
	</div>

</div>