<div>
    <h1 style="text-align: center"> Tournaments </h1>
    
    <!--------------------------------------- tournaments  -------------------------------------------------->
               <div class="column-5">
                  <div>
                     <div class="widget widget_top-posts">
                        <h2 class="title">Tournament search</h2>
                     </div>

                     <table class="table">
                        <thead>
                        <tr>
                            <th/> <th/> <th/> <th/> <th/> <th/> <th/>
                            <th><a style="align-content: center;" href="#" type="button" data-toggle="modal" data-target="#myModalTournament">
                                <img class="tournamentIco" src="resources/ico/plus.ico"></a>
                                <div id="myModalTournament" class="modal fade" role="dialog" ng-controller="CtreateNewTournamentCtrl">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content"  >
                                            <div class="modal-header">
                                                <h2>Create the best tournament ever</h2>
                                                <p>P.S. ALL fields are necessarily </p>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <label>Select game for your awsome tournament</label>
                                                    <select required="required" class="field-form" data-ng-model="selectedGame">
                                                        <option  ng-repeat="game in games" value="{{game.name}}">{{game.name}}</option>
                                                    </select>
                                                    <label>Name of your awsome tournament</label>
                                                    <input required="required" class="field-form" data-ng-model="tournamentName" placeholder="Name">
                                                    <br/>
                                                    <label>Required rating to join to your tournament</label>
                                                    <input type="number" class="field-form" data-ng-model="requiredRating" placeholder="0.0">
                                                    <br/>
                                                    <label>Max count of players</label>
                                                    <input type="number" class="field-form" data-ng-model="maxParticipants" placeholder="2">
                                                    <br/>
                                                    <label>Choose date of your tournament</label>
                                                    <input required="required" class="field-form" data-ng-model="date" type="date">
                                                    <br/><br/>
                                                    <label>Enter place where tournament will be</label>
                                                    <input class="field-form" data-ng-model="countryTournament" placeholder="Country">
                                                    <input class="field-form" data-ng-model="cityTournament" placeholder="City">
                                                    <br/>
                                                    <textarea rows="3"  class="field-form" data-ng-model="additionTournament" placeholder="City"></textarea>
                                                    <br/>
                                                    <button type="button" class="btn btn-default" ng-click="createTournament()" value="Close" data-dismiss="modal"> Create</button>
                                                    <button type="button" class="btn btn-default" ng-click="modalClose()"
                                                            data-dismiss="modal">Close</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div></th>
                        </tr>
                           <tr>
                              <th/>Tournament name</th>
                              <th/>User creator</th>
                              <th/>Required rating</th>
                              <th/>Max Participants</th>
                              <th/>Address</th>
                               <th/>Addition</th>
                              <th/>Users Guests</th>
                              <th>Join</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="x in tournaments">
                              <td>{{ x.tournamentName }}</td>
                              <td>{{ x.username }}</td>
                              <td>{{x.requiredRating}}</td>
                              <td>{{x.maxParticipants}}</td>
                              <td>
                                 {{x.country}} {{x.city}}
                              </td>
                              <td>{{x.addition}}</td>
                              <td>
                                 <table>
                                    <tr ng-repeat="y in x.userGuests">
                                       <td>{{y}}</td>
                                    </tr>
                                 </table>
                              </td>
                              <td>
                                 <button ng-disabled="x.isCanJoin" class="button"
                                    style="color: black"
                                    ng-click="JoinTournament(x.tournamentId)">Join</button>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!---------------------------------------- end of tournaments -------------------------------------------------->
            </div>
</div>