<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<link href="resources/bower_components/bootstrap/dist/css/bootstrap.css"
	rel="stylesheet" crossorigin="anonymous" />
<link rel="stylesheet" href="resources/css/fonts.css" />
<script type="text/javascript" src="resources/js/registration.js"></script>
<link rel="stylesheet" href="resources/css/users.css" />
<script src="resources/bower_components/angular-file-model/angular-file-model.js"></script>

</head>
<body>
<div ng-controller="editProfileCtrl">
    <h1 id="headerUsers" ng-show="myProfile"> Edit Profile </h1>
    <h1 id="headerUsers" ng-hide="myProfile"> Friend Profile </h1>
    <div>
		<div class="col-sm-12">

				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
					<div class="col-md-4">
					<img ng-src="{{userAvatar}}" id="userAvatar" ng-hide="myProfile">
							<img src="#" ng-src="{{avatar}}" id="avatar" ng-show="myProfile"/>
								<br>
								<label id="uploadButton" ng-show="myProfile">
								<input type="file" file-model="myFile" name="fileUpload"
									class="fileUpload" accept="image/*" onchange="loadFile(event)"
									>

								</label>
								<button ng-click = "uploadAvatar()" id="uploadButton" ng-show="myProfile"
									class="btn btn-primary btn-bg" >upload avatar</button>
						</div>
						
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12"id="profileDiv">
						<label class="col-md-3 control-lable">First Name:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.firstName}}</p>
							<input ng-model="editableFirstName" class="form-control input-sm" ng-show="myProfile">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable">Last Name:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.lastName}}</p>
							<input ng-model="editableLastName" class="form-control input-sm" ng-show="myProfile">
						</div>
					</div>
				</div>
				
				<div class="row" ng-hide="myProfile">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable">Username:</label>
						<div class="col-md-5">
							<p >{{userProfile.username}}</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable">Email:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.email}}</p>
							<input type="email" ng-model="editableEmail" class="form-control input-sm" ng-show="myProfile">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable">Gender:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.gender}}</p>
							<select id="gender" name="gender" ng-model="editableGender" class="form-control" 
								ng-show="myProfile">
								<option value="male">Male</option>
								<option value="female">Female</option>
							</select> 
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable">Age:</label>
						<div class="col-md-5">
							<p ng-hide="myProfile">{{userProfile.age}}</p>
							<input ng-model="editableAge" class="form-control input-sm" ng-show="myProfile">
						</div>
					</div>
				</div>
				
				<div ng-show="myProfile">
				<div class="row">
					<div class="form-group col-md-12" id="profileDiv">
						<label class="col-md-3 control-lable">Phone Number:</label>
						<div class="col-md-5">
							<input ng-model="editablePhoneNumber" class="form-control input-sm">
						</div>
					</div>
				</div>
				<span class="col-sm-3"></span>
				<div class="col-sm-5">
					<button ng-click="saveUser()" id="saveUserUpdate" class="btn btn-primary btn-bg">
						Save</button>
				</div>
				<span class="col-sm-3" ng-hide="editProfileMessage">
									{{editProfileAnswer}}
				</span> 
				</div>
				</div>
				<div class="col-sm-12" ng-show="myProfile">
				<p id="profileDiv" class="form-group col-md-12"><a href="" ng-click="showPasswordChange = !showPasswordChange">Change password</a></p>
				<div ng-show="showPasswordChange">
					<div class="row">
						<div class="form-group col-md-12" id="profileDiv">
							<label class="col-md-3 control-lable">Old password:</label>
							<div class="col-md-5">
								<input type="password" ng-model="editableOldPassword" 
									class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" id="profileDiv">
							<label class="col-md-3 control-lable">New password:</label>
							<div class="col-md-5">
								<input type="password" ng-model="editableNewPassword" 
									class="form-control input-sm">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12" id="profileDiv">
							<label class="col-md-3 control-lable">Confirm password:</label>
							<div class="col-md-5">
								<input type="password" ng-model="editableConfirmPassword" 
									class="form-control input-sm">
							</div>
						</div>
					</div>
					<span class="col-sm-3"></span>
						<div class="col-sm-5">
						<button ng-click="saveNewUserPassword()" id="saveUserUpdate" 
							class="btn btn-primary btn-bg">Save password
						</button>
						</div>
					<span class="col-sm-3" ng-hide="editProfileMessage">
									{{editPasswordAnswer}}
					</span>
						
						</div>
					
				</div>
				</div>
</div>
</body>
</html>