<div class="container-fluid">
	<h2 class="text-primary" id="allGamesHeader" translate="GAME_DETAILS"></h2>
</div>
<div class="container-fluid" ng-controller="getGameDetailedInfoController">

	<h4><strong translate="GAME_NAME_SEMICOLUMN"></strong> {{gameDetail.name}}</h4>
	<h4 class="inlineDisplay"><strong transalte="GAME_RATING"></strong></h4>
	<div class="inlineDisplay" star-rating rating="starRating" read-only="false"
		max-rating="10" click="ratingClick(param)"
		mouse-hover="ratingHover(param)" mouse-leave="ratingLeave(param)"></div>
	<p class="text text-success inlineDisplay">{{hoverRatingText}}</p>
	<p>
		<strong translate="GAME_RATING_OF_USER"></strong>
		<span class="label label-primary">{{gameDetail.userRating}}/10</span>
	</p>
	<p>
		<strong translate="GENERAL_GAME_RATING"></strong>	
		<span class="label label-primary">{{gameDetail.generalRating}}/10</span>
	</p>
	<hr/>
	<br/>
	<div class = "ownersGameContainer">
	<div class = "gameTable">
	<h4><strong  translate="OWNERS_OF_GAME"></strong></h4>
	<table ng-table="userGamesOfGameTable" show-filter="true" class="table table-striped">
		<tr ng-repeat="x in userGamesOfGameDisplay" >
			<td ng-click="displayGameUserDetails(x.id)" title="'USER_OF_USERGAME_USERNAME' | translate" sortable="'username'" filter="{ 'username': 'text' }">
				{{ x.username }}
			</td>
			<td ng-click="displayGameUserDetails(x.id)" title="'GAME_EDITION' | translate" sortable="'edition'" filter="{ 'edition': 'text' }">
				{{ x.edition }}
			</td>
			<td ng-click="displayGameUserDetails(x.id)" title="'GAME_YEAR_OF_PRODUCTION' | translate" sortable="'yearOfProduction'" 
				filter="{ 'yearOfProduction': 'number' }">
				{{ x.yearOfProduction }}
			</td>
			<td ng-click="displayGameUserDetails(x.id)" title="'AVAILABILITY' | translate" sortable="'status'" filter="{ 'status': 'text' }">
				<a href="#gameUserDetails/{{x.id}}">{{x.status}}</a>
			</td>
			<td title="'Action'">
				<a ng-click="showComments(x.id)">Comment</a>
			</td>
		</tr>
	</table>
	</div>
	<div class = "commentsWindow">
		<div ng-show="isShowComment">
		
		<div class="container">
<div class="chat">

 <div id="chatZone" name="chatZone">
 <table class="table">
				<tr>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="x in commentForGame">
					<td>{{x.username}}</td>
					<td>{{x.commentText}}</td>
					<td>{{x.date | date:'medium'}}</td>
				</tr>
			</table>
 </div>
  <form data-ng-submit=submit() style="width: 73%" > 
   <button class = "inputForSubmit"  ng-click="addComment" style="float: right"><span class = "glyphicon glyphicon-send"></span></button>
   <div style="overflow: hidden; padding-right: .5em;">
   <input class = "textForCom" type="text" data-ng-model="comment" autofocus="true" placeholder="Type Your Comment Here" />
  	</div>
  </form>
 </div>
</div>
	
		</div>
	</div>
	</div>
</div>