<div ng-controller="showAllTournamentsCtrl">
   <div ng-controller="allUsersGameCtrl">
      <h1 style="text-align: center"> Tournaments </h1>
      <div class="column-5">
         <div>
         <a href="" data-toggle="modal" data-target="#myModalTournament">
                        ADD NEW TOURNAMENT</a>
                        <div id="myModalTournament" class="modal fade" role="dialog" ng-controller="CtreateNewTournamentCtrl">
                           <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h2>Create the best tournament ever</h2>
                                    <p>P.S. ALL fields are necessarily </p>
                                 </div>
                                 <div class="modal-body">
                                    <form name = "tournamentCreate" novalidate>
                                       <div class="form-group" ng-class="{ 'has-error' : tournamentCreate.gameForTournament.$invalid && !tournamentCreate.gameForTournament.$pristine }">
                                          <label>Select game for your tournament</label>
                                          <select required="required" name = "gameForTournament" class="field-form" data-ng-model="selectedGame" required>
                                             <option  ng-repeat="game in allGame" value="{{game.id}}">{{game.name}}</option>
                                          </select>
                                          <p ng-show="tournamentCreate.gameForTournament.$invalid && !tournamentCreate.gameForTournament" class="help-block">Game for tournament is required.</p>
                                       </div>
                                       <div class="form-group" ng-class="{ 'has-error' : tournamentCreate.name.$invalid && !tournamentCreate.name.$pristine }">
                                          <label>Name of your tournament</label>
                                          <input name = "name" data-ng-model="tournamentName" required>
                                          <p ng-show="tournamentCreate.name.$invalid && !tournamentCreate.name.$pristine" class="help-block">Tournament name is required.</p>
                                       </div>
                                       <div class="form-group" ng-class="{ 'has-error' : tournamentCreate.countOfParticipants.$invalid && !tournamentCreate.countOfParticipants.$pristine }">
                                          <label>Count of players</label>
                                          <input name = "countOfParticipants" type="number" min = "0" class="field-form" data-ng-model="countOfParticipants" required>
                                          <p ng-show="tournamentCreate.countOfParticipants.$invalid && !tournamentCreate.countOfParticipants.$pristine" class="help-block">Count of participants is required.</p>
                                       </div>
                                       <div class="form-group" ng-class="{ 'has-error' : tournamentCreate.dateOfTournament.$invalid && !tournamentCreate.dateOfTournament.$pristine }">
                                          <label>Choose date of your tournament</label>
                                          <input name = "dateOfTournament" class="field-form" data-ng-model="date" type="date" required>
                                          <p ng-show="tournamentCreate.dateOfTournament.$invalid && !tournamentCreate.dateOfTournament.$pristine" class="help-block">Date of tournament is required.</p>
                                       </div>
                                       <div class="form-group" ng-class="{ 'has-error' : tournamentCreate.Country.$invalid && !tournamentCreate.Country.$pristine }">
                                          <label>Enter Country</label>
                                          <input name = "Country" class="field-form" data-ng-model="countryTournament" required>
                                          <p ng-show="tournamentCreate.Country.$invalid && !tournamentCreate.Country.$pristine" class="help-block">Country of tournament is required.</p>
                                       </div>
                                       <div class="form-group" ng-class="{ 'has-error' : tournamentCreate.city.$invalid && !tournamentCreate.city.$pristine }">
                                          <label>Enter City</label>
                                          <input name = "city" class="field-form" data-ng-model="cityTournament" required>
                                          <p ng-show="tournamentCreate.city.$invalid && !tournamentCreate.city.$pristine" class="help-block">Country of tournament is required.</p>
                                          <button type="button" class="btn btn-default" ng-click="createTournament()" ng-disabled="tournamentCreate.$invalid" value="Close" data-dismiss="modal"> Create</button>
                                          <button type="button" class="btn btn-default" ng-click="modalClose()"
                                             data-dismiss="modal">Close</button>
                                       </div>
                                    </form>
                                 </div>
                                 <div class="modal-footer">
                                 </div>
                              </div>
                           </div>
                        </div>
            <table ng-table="allTournaments" class="table table-striped">
                  <tr ng-repeat="tournament in tournaments">
                     <td data-title = "'Tournament name'">
                     	<a href = "#tournament/{{tournament.tournamentId}}"  ng-click = "getTournamentDetails(x.tournamentId)">{{ tournament.tournamentName }}</a>
                     </td>
                     <td data-title = "'User creator'">{{ tournament.userCreatorName }}</td>         
                  </tr>
             </table>
         </div>
      </div>
   </div>
</div>
