<div>
	<h1 style="text-align: center">Events</h1>
	<!-- EVENTS -->
	<div ng-show="eventsFade">
		<div class="column-1">
			<header class="section-header">
				<div class="section-title title-with-sep">
					<h2 class="title">COMING EVENTS:{{events.length}}</h2>
				</div>
			</header>
			<div class="grids grid-layout columns-size-1 entries">
				<div class=" jcarousel-skin-tango">
					<div class="jcarousel-container jcarousel-container-horizontal"
						style="display: block;">
						<li class="jcarousel-item jcarousel-item-horizontal "><a
							ng-repeat="event in events" href="#" class="item"> <img
								width="240" height="240" ng-src={{event.imgsrc}}
								alt={{event.name}}> <span class="game_name">{{event.game}}</span>
								<div class="name" style="top: 201px;">
									<div class="num">
										{{event.date|date:MMMM }}<span>{{event.date|date:dd}}</span>
									</div>
									<div class="tema">{{event.name}}</div>
								</div>
						</a></li>
					</div>
				</div>
			</div>
		</div>
		<div class="widget">
			<div>
				<input type="submit" value="ADD EVENT" ng-click="showForm() "
					style="width: 100%; height: 40px; margin-top: 20px; margin-bottom: 10px">
			</div>
			<form data-ng-submit=submit() role="form" ng-show="showText">
				<input type="text" class="form-control" ng-model="input_name"
					placeholder="Event" style="margin-bottom: 10px"> <input
					type="text" class="form-control" ng-model="input_game"
					placeholder="Game" style="margin-bottom: 10px"> <input
					type="text" class="form-control" ng-model="input_description"
					placeholder="Description" style="margin-bottom: 10px"> <input
					type="text" class="form-control" ng-model="input_place"
					placeholder="Place" style="margin-bottom: 10px"> <input
					type="date" class="form-control" ng-model="input_date"
					placeholder="Date" style="margin-bottom: 10px">
				<div>
					<input type="submit" value="APPLY" ng-click="addEvent()"
						style="width: 100%; margin-bottom: 10px">
				</div>
			</form>
		</div>
	</div>
	<!-- /EVENTS -->
</div>