<div style="margin-top: 20px; margin-bottom: 25px;" ng-controller = "allUsersGameCtrl">	
	<div class = "container-fluid">
		<div>
			<h1 id = "titleHeader" class="text-primary"><strong>{{games.name}}</strong></h1>
			<div id="wrapper">
            	<div class="cell">
                	<div class="contentGameUser">
                    	<p><strong>Year of production:</strong> {{games.yearOfProduction}}</p>
						<p><strong>Edition:</strong> {{games.edition}}</p>
						<p><strong>Max/Min players:</strong> {{games.maxPlayers}}/{{games.minPlayers}}</p>
						<p><strong>Status:</strong> <a class="bg-primary spannedText">{{games.status}}</a></p>
                	</div>
            	</div>
            	<div class="cell">
                	<div class="content2">
						<img class="iconImage" src="resources/images/default-game-icon.png"/>
                	</div>
            	</div>
        	</div>
        	<hr>
			<p class="boldText">Description: </p>
			<div class="well">
				{{games.description}}
			</div>
			<hr>
			<p class="boldText">Rules</p>
			<div class="well">
				{{games.rules}}
			</div>
			<a class="pull-right" href = "#gameEdit/{{games.id}}" ng-show="isYourGame">
				<button class="btn btn-info" >
					<span class = "glyphicon glyphicon-edit"></span> Edit
				</button>
			</a>
		</div>
		<div ng-show="isYourGame">
			<button id="availabilityButton" class="btn btn-info pull-right inlineDisplay" data-toggle="modal"
				data-target="#makeGameAvailable">Make game available</button>
			<div id="makeGameAvailable" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="text-primary">Open your game for sharing</h4>
						</div>
						<div class="modal-body">
							<form name="availabilityForm">
								<p class="inlineDisplay">Enter period of exchange:</p>
								<input type="number" name="returnDate" max="360" min="1"
									class="form-control inlineDisplay" ng-model="returnDate"
									required />
								<button class="btn btn-info inlineDisplay"
									ng-click="makeGameUserAvailable(games.id)"
									ng-disabled="availabilityForm.returnDate.$invalid">Make available</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="container-fluid" ng-show="isYourGamePrivate">
		<button class="btn btn-info" ng-click="keepGameUserPrivate(games.id)">Keep it for me</button>
	</div>
	
	<div class="container-fluid" ng-show="isntYourGame">
		<button class="btn btn-info" 
				ng-click="displayRequestBlockClick(games.id)" data-toggle="modal" 
				data-target="#applyForGameModal">Let's make a deal!</button>
		<div id="applyForGameModal" class="modal fade" role="dialog">
	  		<div class="modal-dialog">
	  		    <div class="modal-content">
	  		    	<div class="modal-header">
       	 				<button type="button" class="close" data-dismiss="modal">&times;</button>
        				<h4 class="text-primary">Send request</h4>
      				</div>
					<div class="modal-body">
						<form name="selectRequiredForm" ng-init="haveSmthToPropose=false">
							<p class="boldText">Days: {{howManyDays}}</p>
				  			<br/>
				  			<label class="inlineDisplay">Message for owner:  </label>
				  			<textarea class="form-control inlineDisplay" rows="2" id="message" ng-model="messageToOwner"></textarea>
				  			<br/><br/>
				  			<button class="btn btn-primary" ng-click="displayPropositions()">Propose</button>
				  			<button class="btn btn-info pull-right" 
			  					ng-click="askOwnerToShare(games.id, messageToOwner, gamesToPropose)">
			  					Ask owner</button>
				  			<div ng-show="haveSmthToPropose">
				  				<br/>
				  				<p class="boldText inlineDisplay">Select what you want to propose:  </p>
			      				<select class="form-control inlineDisplay" ng-model="myGamesModel" name="gamesSelect"
			      					ng-options="option.name+': '+option.edition+' - '+option.yearOfProduction for option in myGames" 
			      					required></select>
			      				<button class="btn btn-info inlineDisplay" ng-click="addToProposes()" 
			      					ng-disabled="selectRequiredForm.gamesSelect.$invalid">
			      					Add game</button>  
			      				<br/>
			      				<br/>
			      				<ul class="list-group" ng-model="propositionsList">
			    					<li class="list-group-item" ng-repeat="game in gamesToPropose">{{game.name}}, {{game.edition}}</li>
			  					</ul>
			  				</div>
			  			</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" ng-show="isThereConfiramtion">
		<a class="text-primary inlineDisplay" href="#edit/{{applierUsername}}">{{applierUsername}}</a>
		<p class="inlineDisplay"> asks you to share this game</p>
		<pre>{{messageFromApplier}}</pre>
		<a class="text-primary inlineDisplay" href="#edit/{{applierUsername}}">{{applierUsername}}</a>
		<p class="inlineDisplay"> offers: </p>
		<ul class="list-group" ng-model="propositionsFromUser">
    		<li class="list-group-item" ng-repeat="game in propositions">
    			{{game.name}} - {{game.edition}}, {{game.yearOfProduction}}</li>
  		</ul>
  		<div class="centeredObjects">
			<button class="btn btn-info " ng-click="acceptGameConfirmation(games.id)">Accept</button>
			<button class="btn btn-info" ng-click="declineGameConfirmation(games.id)">Decline</button>
	  	</div>
	</div>
	
	<div class="container-fluid" ng-show="canGiveBack">
		<p class="boldText">Days remains: {{howManyDaysRemains}}</p>
		<button class="btn btn-info"  data-toggle="modal" 
				data-target="#giveBackModal">Return</button>
		<div id="giveBackModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="text-primary">Return of the game</h4>
					</div>
					<div class="modal-body">
						<br/>
						<p>Your feedback</p>
						<textarea class="form-control inlineDisplay" rows="2" 
							id="message" ng-model="feedbackForGame"></textarea>
						<br/>
						<button class="btn btn-info" ng-click="giveBackGame(games.id, feedbackForGame)">
							Give back to owner</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<br/>
</div>