<div ng-controller="eventInfoCtrl">

	<h1 style="text-align: center;">Event Details</h1>

	<div id="eventInfoMain">

		<div id="eventInfoImage">
			<img src="resources/images/event.png"
				style="height: 100px; weight: 100px; margin-left: 50px;">
		</div>

		<div id="eventInfoName">
			<h5 style="text-align: center;">Event Name:</h5>
			<h3 style="text-align: center;">{{currentEvent.name}}</h3>
		</div>

		<div id="eventInfoDetails">

			<div id="eventInfoDetailsLeft">
				<h5 style="text-align: center;">Description:</h5>
				<h4>{{currentEvent.description}}</h4>
			</div>

			<div id="eventInfoDetailsRight">
				<h4>Location: {{currentEvent.location}}</h4>
				<h4>Date: {{currentEvent.date | date:'MM/dd/yyyy'}}</h4>

				<div id="eventInfoButtons">

					<p>
						<a type="button" class="btn btn-success btn-block" ng-click="subscribeToEvent(currentEvent.eventId)"
							ng-if="isSub == false"> Subscribe </a>
					</p>
					<p>
						<a type="button" class="btn btn-danger btn-block" ng-click="usnsubscribeFromEvent(currentEvent.eventId)" id="changeUserStatus"
							ng-if="isSub == true"> Unsubscribe </a>
					</p>

				</div>
			</div>

		</div>



		<div style="clear: both;"></div>

	</div>
</div>