<div>
    <h1 style="text-align: center"> Users </h1>
               <div ng-controller="getAllUsersCtrl">
		<table ng-table="usersTable" show-filter="true"
			class="table table-striped" >
			<tbody >
			<tr ng-repeat-start="user in usersByParams">
				<td title="'Username'" sortable="'username'" filter="{ 'username': 'text' }" class="col-sm-3">
					<a href="" ng-click="getInfoAboutUserFunc(user.username); showUser = !showUser">{{user.username}}</a>
				</td>
				<td title="'Email'" sortable="'email'" class="col-sm-3">{{user.email}}</td>
				<td title="'Country'" filter="{'countryName': 'select'}" filter-data="countries()" class="col-sm-3">
					{{user.address.country.name}}
                </td>
				<td title="'Address'" filter="{'cityName': 'select'}" filter-data="cities()" class="col-sm-3">
					 {{user.address.city.name}} {{user.address.street}} 
					 {{user.address.houseNumber}} {{user.address.roomNumber}}
                </td>
                </tr>
			<tr ng-show="showUser" ng-repeat-end>
				<td class="col-sm-3">
						<div id="backgroundForOneUser">
							<p>Last Name:{{oneUser.lastName}}</p>
							<p>First Name:{{oneUser.firstName}}</p>
							<p>Sex:{{oneUser.gender}}</p>
							<p>Age:{{oneUser.age}}</p>
							<p>Rating:{{oneUser.rating}}</p>
							<p>Phone number:{{oneUser.phoneNumber}}</p>
						</div>
				</td>
				<td class="col-sm-3">

							<b id="gamesList">Games user owns:</b>
							<ul ng-repeat="game in games" id="gamesList">
								<li><a href="#gameUserDetails/{{game.id}}" ng-click="myFunc(game.id)">
										{{game.name}}</a></li>
							</ul>

				</td>
				<td class="col-sm-3">
						<div id="backgroundForOneUser">
							<b id="tournamentsList">Users tournaments:</b>
							<ul ng-repeat="tournament in tournaments" id="tournamentsList">
								<li><a href=""
									ng-click="getInfoAboutTournament(tournament.tournamentId)"
									data-toggle="modal" data-target="#myModalTournaments">{{tournament.tournamentName}}</a></li>
							</ul>
							<div class="modal fade" id="myModalTournaments" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h1>{{oneTournament.tournamentName}}</h1>
										</div>
										<div class="modal-body">
											<p>User creator: {{oneTournament.username}}</p>
											<p>Adress: {{oneTournament.country}},
												{{oneTournament.city}}</p>
											<p>Date: {{oneTournament.dateUtil}}</p>
											<p>Required rating: {{oneTournament.requiredRating}}</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
				</td>
				<td class="col-sm-3">					
							<img ng-src="{{userAvatar}}" id="userAvatar">
							<p>Score: {{oneUser.userRating}}</p>
				</td>
			</tr>
			</tbody>
		</table>
                  
               </div>
</div>