<div ng-controller="gameNotifyController">
	<div class="centeredObjects">
		<h2>Game news</h2>
	</div>
	<table class="table" ng-table="gameNotifyTable" show-filter="true">
		<tbody>
			<tr ng-repeat="x in gameNotificationsDisplay">
				<!--<td title="'Type'" sortable="'type'" filter="{ 'type': 'text' }">
					{{x.type}}
				</td>-->
				<td title="'Icon'">
                    <img style="width: 30px; height: 30px;" src="resources/ico/{{x.type.toLowerCase()}}2.png"/>
					<!--<span class="glyphicon glyphicon-knight"></span>-->
				</td>
				<!--<td title="'Invoker'" sortable="'username'" filter="{ 'username': 'text' }">
					{{x.username}}
				</td>-->
				<td title="'Message'" filter="{ 'message': 'text' }">
                    {{x.message}}
					<!--<a href="#gameUserDetails/{{x.gameUserId}}" ng-click="markAsChecked(x.id)">--><!--</a>-->
				</td>
				<td title="'Date'" sortable="'date'" filter="{ 'date': 'text' }">
					{{x.date | date:'yyyy-MM-dd'}}
				</td>
			</tr>
		</tbody>
	</table>
</div>