<div ng-controller="showAllTournamentsCtrl">
<div ng-controller="allUsersGameCtrl">
    <h1 style="text-align: center"> Tournaments </h1>
    
    <!--------------------------------------- tournaments  -------------------------------------------------->
               <div class="column-5">
                  <div>
                     <table class="table">
                        <thead>
                        <tr>
                            <th/> <th/> <th/> <th/> <th/> <th/> <th/>
                            <th><a href="" data-toggle="modal" data-target="#myModalTournament">
                                new</a>
                                <div id="myModalTournament" class="modal fade" role="dialog" ng-controller="CtreateNewTournamentCtrl">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2>Create the best tournament ever</h2>
                                                <p>P.S. ALL fields are necessarily </p>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <label>Select game for your tournament</label>
                                                    <select required="required" class="field-form" data-ng-model="selectedGame">
                                                        <option  ng-repeat="game in allGame" value="{{game.id}}">{{game.name}}</option>
                                                    </select>
                                                    <label>Name of your tournament</label>
                                                    <input required="required" class="field-form" data-ng-model="tournamentName" placeholder="Name">
                                                    <label>Count of players</label>
                                                    <input type="number" class="field-form" data-ng-model="countOfParticipants" placeholder="2">
                                                    <br/>
                                                    <label>Choose date of your tournament</label>
                                                    <input required="required" class="field-form" data-ng-model="date" type="date">
                                                    <br/><br/>
                                                    <label>Enter place where tournament will be</label>
                                                    <input class="field-form" data-ng-model="countryTournament" placeholder="Country">
                                                    <input class="field-form" data-ng-model="cityTournament" placeholder="City">

                                                    <button type="button" class="btn btn-default" ng-click="createTournament()" value="Close" data-dismiss="modal"> Create</button>
                                                    <button type="button" class="btn btn-default" ng-click="modalClose()"
                                                            data-dismiss="modal">Close</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                              </div></th>
                        </tr>
                           <tr>
                              <th/>Tournament name</th>
                              <th/>User creator</th>                      
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="x in tournaments">
                              <td><a href = "#tournament/{{x.tournamentId}}"  ng-click = "getTournamentDetails(x.tournamentId)">{{ x.tournamentName }}</a></td>
                              <td>{{ x.userCreatorName }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <!---------------------------------------- end of tournaments -------------------------------------------------->
            </div>
            </div>