
<div style="margin-top: 3%;" class="generic-container col-md-8 col-md-offset-2">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="h4" style="text-align: center;">Sign up this form to enter epic battles!</h4>
		</div>
		<div class="formcontainer">
			<form ng-submit="addUserCtrl.submit()" name="myForm" class="form-horizontal">

				<div class="row">
					<div style="margin-left: 1%;" class="form-group col-md-12">
						<label styl class="col-md-2 control-lable" for="uname">Username</label>
						<div class="col-md-7">
							<input type="text" ng-model="addUserCtrl.userDTO.username"
								id="uname" class="username form-control input-sm"
								placeholder="Enter your name" required ng-minlength="3" />
							<div class="has-error" ng-show="myForm.$dirty">
								<span ng-show="myForm.uname.$error.required">This is a
									required field</span> <span ng-show="myForm.uname.$error.minlength">Minimum
									length required is 3</span> <span ng-show="myForm.uname.$invalid">This
									field is invalid </span>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="address">Address</label>
						<div class="col-md-7">
							<input type="text" ng-model="ctrl.user.address" id="address"
								class="form-control input-sm"
								placeholder="Enter your Address. [This field is validation free]" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="email">Email</label>
						<div class="col-md-7">
							<input type="email" ng-model="ctrl.user.email" id="email"
								class="email form-control input-sm"
								placeholder="Enter your Email" required />
							<div class="has-error" ng-show="myForm.$dirty">
								<span ng-show="myForm.email.$error.required">This is a
									required field</span> <span ng-show="myForm.email.$invalid">This
									field is invalid </span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div style="margin-left: 3%;" class="form-actions floatRight">
						<input type="submit" value="{{'Add'}}"
							class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
						<button type="button" ng-click="addUserCtrl.reset()"
							class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
							Form</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
