.home-section .section-header {
    font-family: "LatoRegular", sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 120px;
        display: block;
    box-sizing: border-box;
}



.game_name {
position:absolute;
top:10px;
right:10px;
background-color:#000;
font-size:10px;
text-transform:uppercase;
color:#FF0078;
z-index:11;
display:block;
padding:3px 4px 2px;
}

.jcarousel-skin-tango  {
	
position:relative;
background-color:transparent;
color:#2f2e36;
overflow:hidden;
margin:0 auto;
width:996px;
padding:0;
}

.jcarousel-container {
position:relative;
background-color:transparent;
overflow:hidden;

margin:0 auto;
}

.jcarousel-container-horizontal {
width:996px;

overflow:hidden;
padding:0;
}



.jcarousel-item{
width:996px;
color:#144B89;
padding:0;

}



.item {
display:block;
height:245px;
width:245px;
float:left;
border:2px solid #FFF;
overflow:hidden;
z-index:100;
position:relative;
font-size:14px;
color:#FFF;
text-decoration:none;
background-color:#333;
}

.jcarousel-item :hover {
background-color:#000;
border-color:#CF0261;
}

.jcarousel-skin-tango .jcarousel-item .item
img {
width:246px;
height:246px;
margin:0;
}

.jcarousel-skin-tango .jcarousel-item :hover.item
img {
opacity:0.4;
filter:alpha(opacity=40);
}

.jcarousel-skin-tango .jcarousel-item .item
img.loader {
position:absolute;
top:70px;
left:90px;
}




.name {
position:absolute;
width:245px;
height:44px;
top:201px;
left:0;
overflow:hidden;
background-color:#000;
padding:0;
}


.num {
float:left;
font-size:26px;
color:#FFF;
line-height:29px;
width:44px;
text-align:center;
}

.jcarousel-skin-tango .jcarousel-item .item .name .num
span {
display:block;
font-size:12px;
line-height:12px;
}


.tema {
float:left;
color:#FFF;
text-transform:uppercase;
font-size:12px;
width:191px;
height:40px;
overflow:hidden;
margin:3px 0;
}


.jcarousel-control {
position:absolute;
left:50%;
width:54px;
height:9px;
top:10px;
z-index:200;
margin:0 0 0 -27px;
}

.jcarousel-control
a {
display:block;
cursor:pointer;
width:8px;
height:9px;
color:#000;
text-decoration:none;
text-indent:-2000px;
font-size:9px;
line-height:9px;
background-repeat:no-repeat;
background-position:-8px 0;
background-image:url(/i/krujki_main.gif);
position:relative;
margin:0 5px;
padding:0;
}

.jcarousel-control a:hover,.jcarousel-control a.active,.jcarousel-control a:hover.active {
background-position:0 0;
width:8px;
height:9px;
}

.jcarousel-container {
position:relative;
}

.jcarousel-clip {
z-index:2;
overflow:hidden;
position:relative;
margin:0;
padding:0;
}

.jcarousel-list {
z-index:1;
overflow:hidden;
position:relative;
top:0;
left:0;
margin:0;
padding:0;
}

.jcarousel-list li,.jcarousel-item {
float:left;
list-style:none;
}

.jcarousel-skin-tango .jcarousel-item :hover.item
img.loader,a.myjcarousel-prev.none,a.myjcarousel-next.none,a.myjcarousel-prev.dsbl,a.myjcarousel-next.dsbl {
display:none;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,a:hover.myjcarousel-prev,a:hover.myjcarousel-next {
background-position:left center;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
background-image:none;
cursor:default;
display:none;
}

.jcarousel-next,.jcarousel-prev {
z-index:3;
display:none;
}

a.myjcarousel-next {
    width: 25px;
    height: 494px;
    position: absolute;
    top: 58px;
    right: 0px;
    text-decoration: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(/i/index_top8_right.gif);
    display: block;
    z-index: 100;
    cursor: pointer;
}
