#gameDetailTable {
	width:100%;
}
.inlineDisplay {
	display:inline;
}

label.inlineDisplay {
	vertical-align: top;
}
input.inlineDisplay {
	width:40%;
}
.centeredObjects {
	margin:auto;
	text-align: center;
}
.listCenterd {
	margin-left:28%;
	width:43%;
}
.boldText {
	font-weight: bold;
}
select.inlineDisplay {
	width:42%;
}
span.glyphicon-knight {
    font-size: 2.0em;
}
.blue {
	background-color: #e6e6e6
}
.gray {
	background-color: #ccddff
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -15px;
}
#piechart {
	width: 440px;
	height: 200px;
}
#areachart {
	width: 440px;
	height: 200px;
}
#columnchart {
	width: 440px;
	height: 200px;
}
#columnagechart {
	width: 440px;
	height: 200px;
}
a.bg-primary.spannedText {
	padding: 7px;
	border-radius: 4px;
}
img.iconImage {
	width:120px;
	height:120px;
}
#wrapper {
	display: table;
    width: 100%;
    height: 200px;
}
.cell {
    display: table-cell;
    vertical-align: top;
    max-height: 180px;
}
.contentGameUser {
    float: left;
    height:100px;
}
.content2{
    float: right;
}
#availabilityButton {
	margin-right:20px;
}
.ownersGameContainer {
	margin-top: 30px;
    height: 508px;
    width: 99%; 
}
.gameTable {
	float: left;
    height: 97%;
    width:67%;
    margin: 0.5% 0.5%;
}
.commentsWindow {
	float: left;
    height: 97%;
    width: 25%;
    margin: 0.5% 0.5%;
}