#gameDetailTable {
	width:100%;
}
.inlineDisplay {
	display:inline;
}

label.inlineDisplay {
	vertical-align: top;
}
input.inlineDisplay {
	width:40%;
}
.centeredObjects {
	margin:auto;
	text-align: center;
}
.listCenterd {
	margin-left:28%;
	width:43%;
}
.boldText {
	font-weight: bold;
}
select.inlineDisplay {
	width:42%;
}
span.glyphicon-knight {
    font-size: 2.0em;
}
.blue {
	background-color: #e6e6e6
}
.gray {
	background-color: #ccddff
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -15px;
}
#piechart {
	width: 550px;
	height: 270px;
}
#areachart {
	width: 550px;
	height: 270px;
}
#bubblechart {
	width: 550px;
	height: 270px;
}
#columnagechart {
	width: 550px;
	height: 270px;
}
a.bg-primary.spannedText {
	padding: 7px;
	border-radius: 4px;
}
img.iconImage {
	width:120px;
	height:120px;
}
#wrapper {
	display: table;
    width: 100%;
    height: 200px;
}
.cell {
    display: table-cell;
    vertical-align: top;
    max-height: 180px;
}
.contentGameUser {
    float: left;
    height:100px;
}
.content2{
    float: right;
}
#availabilityButton {
	margin-right:20px;
}
.ownersGameContainer {
	margin-top: 30px;
    height: 508px;
    width: 99%; 
}
.gameTable {
	float: left;
    height: 97%;
    width:67%;
    margin: 0.5% 0.5%;
}
.commentsWindow {
	float: left;
    height: 97%;
    width: 25%;
    margin: 0.5% 0.5%;
}

.container{
 margin: 0 auto;
 width: 600px;
}
.chat-zone{
 padding: 20px;
 height: 400px;

}
.chatmsg {
margin: 0 5px;
}
.chatmsg b{
 text-transform: uppercase;
 color: orange;
}
.chat{
 margin: 0 auto;
}
.chat #chatZone{
width: 360px;
height: 280px;
border: 1px solid #ddd;
border-radius: 7px;
overflow-y: scroll;
color: black;
margin-bottom: 20px;
background-color: #B8B8B8;
}
.chat form{
 margin: 10px 0 0 0;
}
.textForCom{
border: 1px solid #cccccc;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
outline: none;
padding: 4px 6px;
font-size: 14px;
line-height: 20px;
color: #555555;
border-radius: 3px;
width: 320px;

}
.inputForSubmit{
display: block;
color: #fff;
font-weight: bold;
cursor: pointer;
margin: 0 0 0 0;
padding: 6px 10px;
border: 1px solid #777;
border-radius: 100px;
margin-right: 30px;
}