body {
	padding-top: 70px;
	overflow: hidden;
	background-image: url("/resources/images/background04.jpg");
}

h1, h2, h3, h4, h5 {
	font-family: monospace;
}

ol, ul {
	list-style: none;
}

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 25px;
	width: 100%;
	background: #333333;
	text-align: right;
}

#main_container {
	height: 100%;
	margin-bottom: 2%;
	margin-top: 2.5%;
}

#main_div {
	float: left;
	width: 69%;
	max-height: 545px;
	margin-left: 0.2%;
	border: none;
	overflow-y: auto;
}

#widget_div {
	float: left;
	width: 30%;
	height: 570px;
	margin-left: 0.2%;
	margin-right: 0.2%;
	overflow-y: auto;
	border: groove;
}

#widget_div ul {
	cursor: pointer;
}

#friends_div h1 {
	text-align: center;
	font-size: 14pt;
	font-family: monospace;
}

#mygames_div p {
	font-size: 12pt;
	font-family: monospace;
}

span.label {
	font-size: 15px;
}

#allGamesHeader {
	text-align: center;
}

#mygames_div h1 {
	text-align: center;
	font-size: 14pt;
	font-family: monospace;
}

#mygames_div p {
	font-size: 12pt;
	font-family: monospace;
}