body {
    color: black;
    background-image: url("../../resources/images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table {
	border-style: none;
    background-color: #EEE8AA;
    border-radius: 10px;
}
.navbar-default {
    background-color:#EEE8AA;
}
.my-game-container{
    background-color: #90EE90;
}
div.well {
    background-color: 	#FFDEAD;
}
footer.panel-footer {
	position: fixed;
	bottom: 0;
	background-color: #0d0d0d;
	color: #e6e6e6;
  	width: 100%;
  	height: 45px;
}
.findUsers {
	color:white;
	font-size:18px;
}
h4 {
	font-weight: bold;
}

#backgroundForOneUser {
	background-color: #EEE8AA;
}

.form-control {
	margin : 10px;
}