#blackBut {
	background-color: black;
	color: white;
	border-color:black;
}

#blackBut:hover {
    background-color: grey;
	color: black;
	border-color:grey;
}

#userProfile {
	margin: 0 0 6px 0;
}

#saveUserUpdate {

	 position:relative;
	 float:right;
	 right:5%;
}

#avatar {
	 height: 35px; 
	 width: 35px;
}

#userAvatar {
	 height: 92px; 
	 width: 92px;
}

#avatar {
	 height: 90px; 
	 width: 90px;
}


#tournamentsList {
	  text-align: left;
      list-style-type: none;
      padding: 0px;
}

#gamesList {
	  text-align: left;
      list-style-type: none;
      padding: 0px;
}

#phoneNumber {
	  text-align: center;
      list-style-type: none;
      padding: 0px;
}

#uploadButton {
    font-size:10px;

}

#userRating {
	color : white;
	width: 220px;
}

.outerDiv {
    width: 93%;
    height: 100%;
    text-align:center;
    background: #428BCA;
    color:white;
}

.innerDiv {
    background: #428BCA;
    font-size:11px;
    margin:0;
}

#container {
  width: 190px;
  height: 30px;
  position: relative;
  cursor:pointer;
}

#insideRating {
	color:black;
}

#headerUsers {
	text-align:center;
}

#profileDiv {
	margin-left: 2%;
}

#flag {
	width: 30px;
  	height: 20px;
  	margin-top:9px;
}

#editProfile {
	margin-top:-19px;
}

#passwordDiv {
	margin-left: 4%;
}

#passwordChange {
	margin-bottom:40px;
}

#userStateChange {
	cursor:pointer;
}
