<html>
	<body>
			$date - successful registration, Congratulations!
			<br> 
			Welcome on board,<b> $name </b>. From now, You can log in on boarGames.com!  
			<br>
            Your login/username: $name ,<br>
            Your password: $password . <br>
            
            Don't tell anyone your password or login!
            <br>
            ----- DONT REPLAY TO THIS MESSAGE! IT'S GENERATED AUTOMATICALLY -----
             
	</body>
</html>